* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: .7rem .5rem 0 .5rem;
}
.logo {
    width: 6rem;
    margin-left: 2rem;
}
/* Navigation */
.nav-items {
    padding: 1.5rem 5rem;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding-right: 2.5rem;
    font-size: 1.25rem;
}
.log-in {
    cursor: pointer;
}
/* Filter / Search Box + Search Btn*/
.filter {
    display: flex;
    flex-flow: row wrap;
}
.search-box,
.search-btn,
.filter-btn {
    margin: .2rem;
    padding: .4rem;
    cursor: pointer;
}
.filter-btn {
    margin-left: 1rem;
}
/* Restaurant Card / Shimmer container */
.shimmer-container,
.res-container {
    display: flex;
    flex-flow: row wrap;
}
.shimmer-card,
.res-card {
    width: 10rem;
    height: 22rem;
    margin: .5rem;
}
/* Restaurant card details */
.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}
.res-logo {
    width: 100%;
    padding: .7rem;
}

.res-name {
    margin: 0 .7rem;
    font-size: 1.1rem;
}
.card-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem .7rem 0 .7rem;
}

.res-name,
.cuisines,
.rating,
.delivery-time {
    font-weight: bold;
}
.cuisines,
.rating,
.delivery-time {
    font-size: .8rem;
}
.cuisines {
    grid-column: 1 / span 2;
    margin-bottom: .3rem;
}
.star {
    width: .8rem;
}
/* Shimmer card details */
.shimmer-card {
    background-color: grey;
}